# Gradle
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

/var/log/*
!/var/log/.gitkeep
.idea
.settings
.metadata
bin
.classpath
.project
src/mooc/main/tv/codely/mooc/courses/application/.DS_Store
